name: bus app

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      # Step 1: Checkout the code
      - name: Checkout Code
        uses: actions/checkout@v3

      

      # Step 4: Set up Java
      - name: Set up Java
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'temurin'

      # Step 5: Cache Maven dependencies
      - name: Cache Maven dependencies
        uses: actions/cache@v3
        with:
          path: ~/.m2
          key: ${{ runner.os }}-maven-${{ hashFiles('**/pom.xml') }}
          restore-keys: |
            ${{ runner.os }}-maven-

      # Step 6: Build with Maven
      - name: Build with Maven
        run: mvn clean package

      - name: Setup JFrog CLI
        uses: jfrog/setup-jfrog-cli@v4
        with:
          version: latest

      - name: Configure JFrog CLI
        run: |
           jfrog config edit artifactory-server \
           --url "https://trialv6ppcu.jfrog.io" \
           --access-token "${{ secrets.JFROG_API_KEY }}" \
           --interactive=false

      - name: Upload WAR to JFrog
        run: |
          TIMESTAMP=$(date +%Y%m%d%H%M%S)
          jfrog rt upload "target/*.war" "Busapplication/bus-booking-app-1.0/${TIMESTAMP}/"
